header {

    text-align: center;
    /* background-color: rgb(126, 117, 105); */
    background-size: 100% 100%;
    padding: 20px;
    background-color:rgb(44, 34, 32);
  
}
.no-bullet-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.no-bullet-list li {
    padding-bottom: 10px;
}
.line-height {
    line-height: 10px;

}
.welcome-message {
    font-size: 25px;
    color: blanchedalmond;
   
}

body {
    font-family:serif;
    font-style: normal;
    font-size: 99%;
   
}

.flex-container {
    margin: auto;
    /* position: center; */
    display: flex;
    width: 70%;
}
  

.text-container {
    padding: 16px;
    width: 70%;
    display: flexbox;
    flex-direction: row;
}

.image-container {
    position: relative;
    padding: 16px;
    width: 30%;
    background-repeat: no-repeat;
    display: flexbox;
    flex-direction: row;
    border-radius: 20px;
}

.image-container img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.image-container div{
    
    position: absolute;
    top: 32%;
    left: 22%;
    color: black;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;

    /* transition background */
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
}

.image-container:hover {
    cursor: pointer;
}

.image-container:hover div {
    text-align: right;
    width: 150px;
    visibility: visible;
    opacity: 0.7;
}

.image-container:hover img {
    opacity: 0.5;
}

.footer-container {
    display: flex;
}
.footer-container ol li {
    width: auto;
    padding: 10px;

}



.ryan-image{
    width: 200px;
}

.goals-image{
    width: 200px;
}
.pets-image{
    width: 150px;
}


footer {
    justify-content: center;
    text-align: center;
    background-color:white;
    color: black;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: none;
   
    
}

footer ol {
    list-style: none;
    display: flexbox;
    margin:0;
    padding:0;
    text-decoration-;

}

footer ol li a {
color: black;
text-decoration: none;

}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(34, 27, 27);
    
  }
  
.topnav li {
    float: left;
  }
  
 .topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav li a:hover {
    background-color:rgb(44, 8, 8) ;
  }
@media screen and (max-width: 806px){

    .flex-container {
        flex-direction: column;
        justify-content: center;
    }

    /* .flex-container-goals {
        flex-direction: column-reverse;
        justify-content: center;
    } */

    #a {
        order: 1; 
    }
    
    #b {
        order: 2;
    }
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
      }
      
      ul.sidenav li a {
        float: left;
        padding: 15px;
      }

  } 

   