header {
    
    text-align: center;
    background-color: burlywood;
    background-size: 100% 100%;
    padding: 20px;
}

.welcome-message {
    font-size: 25px;
}

body {
    font-family:serif;
    font-style: normal;
    font-size: 99%;
}

.flex-container {
    margin: auto;
    /* position: center; */
    display: flex;
    width: 70%;
}

.text-container {
    padding: 16px;
    width: 70%;
}

.image-container {
    position: relative;
    padding: 16px;
    width: 30%;
    background-repeat: no-repeat;
}

.image-container img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.image-container div{
    
    position: absolute;
    top: 32%;
    left: 22%;
    color: black;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
    opacity: 0;
    visibility: hidden;

    /* transition background */
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
}

.image-container:hover {
    cursor: pointer;
}

.image-container:hover div {
    text-align: right;
    width: 150px;
    visibility: visible;
    opacity: 0.7;
}

.image-container:hover img {
    opacity: 0.5;
}



.ryan-image{
    width: 200px;
}

.goals-image{
    width: 200px;
}
.pets-image{
    width: 150px;
}

